/* base styles */

body {
  background-color: #cccccc;
  color: #222222;
  font-family: sans-serif;
}

/* simple grid */

.row {
  display: flex;
  justify-content: space-between;
}

/* column with small gutter */
.col-1-4 {
  width: 23%;
  margin-top: 25px;
}

/* full width column */
.col-1 {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .row {
    flex-wrap: wrap;
  }

  .col-1-4 {
    width: 48%;
  }
}

@media only screen and (max-width: 800px) {
  .row {
    display: block;
  }
  .col-1-4 {
    width: 100%;
    margin-top: 12px;
  }
}

/* end simple grid */

/* top level container */

.container {
  margin: 0 20%;
}

.container > * {
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    margin: 0 10%;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    margin: 0;
  }
}

/* end top level container */

/* general styles */

#title {
  text-align: center;
  color: green;
  margin: 1.0em auto; 
}

#squawkText {
  text-align: center;
  font-size: 1.5em;
}

/* parrot module */

.parrot-img {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parrot-img > img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  transition: all 200ms ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.is-too-expensive img {
  /* greyscale overlay borrowed from StackOverflow:
     http://stackoverflow.com/questions/7273927/image-greyscale-with-css-re-color-on-mouse-over
  */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.parrot > div {
  margin: 0 auto;
}

.parrot > h3, .parrot > p {
  text-align: center;
  line-height: 0.5em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.parrot:not(.is-too-expensive):hover {
  box-shadow: 0px 0px 8px rgba(0,0,0,0.9);
}

.parrot:not(.is-too-expensive):active {
  box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
}

.parrot {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #aaaaaa;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}

.parrot.is-too-expensive {
  cursor: default;
}

.parrot.is-too-expensive > h3,
.parrot.is-too-expensive > p {
  color: #555555;
}

@media only screen and (max-width: 1200px) {
  .parrot > h3, .parrot > p {
    font-size: 75%;
  }
}

@media only screen and (max-width: 800px) {
  .parrot-img {
    width: 100%;
  }
}

/* end parrot module */

/* squawk button module */

#squawkButton {
  height: 100px;
  margin: 20px auto;
  font-size: 1.75em;
  color: green;
}

/* end squawk button module */

/* modal module */

/* positioning technique from:
   http://lynn.io/2014/02/22/modalin/
*/

.modal {
  background-color: #cccccc;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  padding: 20px;
  border: 2px solid #222222;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
  text-align: center;
}

.modal > div {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal > div > button {
  width: 40%;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

@media only screen and (max-width: 800px) {
  .modal {
    width: calc(100% - 100px);
  }
}

/* end modal module */
